---
import '../styles/base.css';

export interface Props {
    description: string;
    icon: string;
    titleMeta: string;
}

const { description, icon, titleMeta } = Astro.props as Props;
---

<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
    <head>
        <link
            href={icon}
            rel="shortcut icon"
            type="image/x-icon"
        />

        <!-- General Meta Tags -->
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        />
        <meta
            content="width=device-width"
            name="viewport"
        />
        <meta
            content={Astro.generator}
            name="generator"
        />
        <title>{titleMeta}</title>
        <meta
            content={description}
            name="description"
        />
        <meta
            content="#ffffff"
            name="theme-color"
        />

        <!-- Open Graph -->
        <meta
            property="og:type"
            content="website"
        />
        <meta
            property="og:title"
            content={titleMeta}
        />
        <meta
            property="og:description"
            content={description}
        />
        <meta
            property="og:image"
            content={icon}
        />

        <!-- Twitter -->
        <meta
            property="twitter:title"
            content={titleMeta}
        />
        <meta
            content={description}
            property="twitter:description"
        />
        <meta
            property="twitter:image"
            content={icon}
        />
    </head>
    <body class="flex flex-col dark:bg-backgroundColor-dark-1 bg-backgroundColor-light-1 font-sans text-textColor-light-1 dark:text-textColor-dark-1 h-screen">
        <slot />
    </body>
</html>
